img {
  display: block;
  width: 25px;
  height: auto;
  max-height: 50%;
  margin-right: 12px;
  filter: brightness(1.2);
}

span {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
